$darkred: #874356;
$whitecolor: white;
$backgroundcolor: #F6E7D8;
$bodyfont: 'Roboto', sans-serif;


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: $darkred;
    background-color: $backgroundcolor;
    font-family: $bodyfont;

    header {
        padding: 60px;
        text-align: center;
        background: $darkred;
        color: $whitecolor;
        flex: 0 0 auto;
       
    }

    nav {
        margin: auto;
        background-color: $darkred;
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        

        ul {
            
            margin: 0;
            padding: 0;
            list-style-type: none;
            overflow: hidden;

            li {
                display: inline;
                float: left;
                
                a {
                    display: block;
                    color: $whitecolor;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 20px;
                }
                
                a:hover {
                    background: $backgroundcolor;
                    color: $darkred;
                  }

            }
        }

    }

    main {

        flex: 1 0 auto;

        
        .container {

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding-top: 20px;
                
                

                li {
                    width: 30%;
                    list-style: none;
                    height: 80vh;
                    overflow: hidden; 
                    border-radius: 1px;
                   
                
                    img {
                        max-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                        vertical-align: bottom;
                        transition: transform ease .5s;
                        }
                    
                    img:hover {
                        background-color: $backgroundcolor;
                        opacity: 0.50;
                        transform: scale(1.05); 
                    }
                   

                }
            }   
        }

        .new-blog {
            display: flex; 
            flex-direction: row;
            background-color: $whitecolor;
            margin-top: 120px;

            img {
                max-width: 50%;
                height: 80vh;
            }

            .new-blog-text {
                padding: 300px;
                align-items: center;
                color: $darkred;

                h1 {
                    font-size: 50px;
                }

                h2 {
                    text-align: center;
                    font-size: 60px;
                }

                p {
                    font-size: 40px;
                }
            }

        }
    }
}

