@use './index.scss';

body {
    background-color: index.$backgroundcolor;

    header {
        @extend %header-shared;
    }

    nav {
        @extend %navbar-shared;
    }

    main {

        ul {
            padding: 0;
            margin: 10%;
            margin-top: 60px;
            margin-bottom: 60px;
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
        
            li {
                height: 40vh;
                flex-grow: 1;
                background-color: index.$darkred;
        
                img {
                    max-height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    vertical-align: bottom;
                }

                h2 {
                    max-width: 100%;
                    padding: 50px;
                    text-align: center;
                    justify-content: center;
                    font-size: 50px;
                    color: index.$whitecolor;
                }
            } 

            li:last-child {
                flex-grow: 10;
            }
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    body {
        main {
            ul {
                margin: 0;
                margin-top: 10px;
                
                li {
                    height: 30vh;

                    h2 {
                        max-width: 100%;
                        padding: 50px;
                        text-align: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    main {
        
        ul {
            flex-direction: row;
        }
  
        li {
            height: auto;
            width: 100%;
        }
  
        img {
            width: 100%;
            max-height: 75vh;
            min-width: 0;
        }
    }
  }
  
  
  
