@use './index.scss';

body {
    main {
        .trail-1 {
            display: flex;
            flex-direction: row;
            width: 60vw;
            min-height: 40vh;
            margin: 0 auto;
            margin-top: 100px;
            border: 2px solid index.$darkred;
            border-radius: 10px;
            background-color: index.$whitecolor;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 10px 0px 0px 10px;
            }


            .trail-1-extra-info {
                display: flex;
                flex-direction: column;

                .trail-1-info {
                    li {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                    }
                }

                .trail-1-items { 
                    display: flex;
                    flex-direction: row;
                    li {
                        margin: 0;
                        padding: 5px;
                        list-style-type: none;
                    }
                }
            }
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    body {
        main {
            .trail-1 {
                flex-direction: column;
                width: 90vw;
                min-height: 40vh;
                margin: 0 auto;
          
                img {
                    max-width: 100%;
                    max-height: auto;
                    min-width: 100%;
                }
                .trail-1-extra-info {
                    flex-direction: column;
                    max-width: 100%;
                    .trail-1-items {
                        flex-direction: row;
                        max-width: 100%;
                    }
    
                }
            }
        }
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    main {
        
        .trail-1 {
            flex-wrap: wrap;
            max-width: 90vw;
            min-height: 40vh;
            margin: 0;
      
            img {
                width: 100%;
                max-height: 75vh;
                min-width: 100%;
            }
            .trail-1-extra-info {
                max-width: 100%;
                .trail-1-items {
                    max-width: 100%;
                }

            }
        }
    }
}